<h1 class="m-4 mb-5">Tasks</h1>

<% @tasks.each do |task| %>
  <% if task.completed == true %>
    <div class="form-check ml-4">
      <input type="checkbox" id="complete-task" class="form-check-input" checked disabled>
      <label for="complete-task" class="form-check-label"><p><%= link_to task.title, task_path(task.id) %></p></label>
    </div>
  <% else %>
    <div class="form-check ml-4">
      <input type="checkbox" id="complete-task" class="form-check-input" disabled>
      <label for="complete-task" class="form-check-label"><p><%= link_to task.title, task_path(task.id) %></p></label>
    </div>
  <% end %>
<% end %>

<p class="line m-4"><%= "———————————————————————" %></p>

<p class="btn btn-secondary ml-3 mt-2"><%= link_to "Add Task", new_task_path %></p>